@using NewsManager.Domain.Entities
@using NewsManager.WebUI.Models
@model NewsManager.WebUI.Models.NewsListModel

@{
    ViewBag.Title = "NEWS MANAGER";
}

<script>
    function deleleNews(message, id) {

        var serviceUrl = '/News/Delete?id=' + id;
        if (confirm(message)) {
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            });
        }
         
        return true;
    }
</script>
           
<table>
    
    <tr>
        <p>@Html.ActionLink("Add a new news", "Create")</p>
    </tr>
    <tr>
        @using (Html.BeginForm())
        {
            <p>
                Find by Title: @Html.TextBox("SearchString") 
                <input type="submit" value="Search" />
            </p>
        } 
    </tr>
    <tr>
        <th>
                            
            @Html.ActionLink("Title", "Index", new {sortOrder = ViewBag.NameSortParm, category = Model.CurrentCategory})

        </th>
        <th>
            @Html.ActionLink("CreatedDate", "Index", new {sortOrder = ViewBag.DateSortParm, category = Model.CurrentCategory})
                            
        </th>
        <th>
            Body News
        </th>
        <th>
            Status
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (NewsModel item in Model.Entities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyNews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.NewsID}) 
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.NewsID})
            </td>
            <td>
                @Html.ActionLink(
                    "Delete",
                    "Index",
                    null,
                 new
                 {
                     onclick = String.Format("return deleleNews('{0}', {1});",
                        string.Format("Are you sure you wish to delete {0} news?", item.Title), item.NewsID)
                    })
            </td>
        </tr>
    }
</table>
           
<div class="pager ">
    @Html.PageLinks(Model.PagingInfo, x =>
    {
        if (String.IsNullOrEmpty(Model.CurrentCategory))
            return Url.Action("Index", new
            {
                page = x
            });
        return
            Url.Action("Index", new
            {
                page = x,
                category = Model.CurrentCategory
            });
    }
        )
</div>
      