@using System.Globalization
@using NewsManager.WebUI.Models
@model NewsListModel

@{
    ViewBag.Title = "NEWS MANAGER";
}

<script>
    function deleleNews(message, id, url) {

        var serviceUrl = '/News/Delete?id=' + id;
        if (confirm(message)) {
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc
            });

            function successFunc(data, status) {
                window.location = url;
                console.log('Refresh page to ' + url);
            }
        }

        return false;
    }
</script>
<div>
    <p>@Html.ActionLink("Create a new news", "Create")</p>
    
    @using (Html.BeginForm("Index", "News", FormMethod.Get))
    {
        <p>
            Find by:

            @Html.RadioButton("searchBy", "Title", true)<text>Title</text>
            @Html.RadioButton("searchBy", "Categories")<text>Category</text>
            @Html.TextBoxFor(x=>x.SearchString)
            @Html.Hidden("sortBy", Model.SortBy)
            @Html.Hidden("ascending", Model.SortAscending)

            <input type="submit" value="Search" />
        </p>
    }

</div>     
<table class="table" >

    <tr bgcolor="#cccccc">
        <th>
            <div class="hidden">
                @Html.Partial("_SmartLink", Model, new ViewDataDictionary {{"ColumnName", "Title"}, {"DisplayName","Title"}})
            </div>
        </th>
        <th>
            @Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "CreatedDate" }, { "DisplayName", "Created Date" }})
        </th>
        <th>
            <div class="hidden">
                @Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "CategoryName" }, { "DisplayName", "Category" }})
            </div>
        </th>
        <th>
            @Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Status" }, { "DisplayName", "Status" }})
        </th>
        <th colspan="3">
            Actions
        </th>
    </tr>

    @foreach (NewsModel item in Model.Entities)
    {
        <tr>
            <td >

                <div class ="hidden">@Html.DisplayFor(modelItem => item.Title)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @*                @Html.DisplayFor(modelItem => item.BodyNews)*@
                <div class="hidden">@Html.DisplayFor(modelItem => item.CategoryName)</div>
            </td>
            <td>
                <div class="collumn">@Html.DisplayFor(modelItem => item.Status)</div>
            </td>
            <td>
                <div>@Html.ActionLink("Edit", "Edit", new { id = item.NewsID })</div>
            </td>
            <td>
                <div>@Html.ActionLink("Details", "Details", new { id = item.NewsID })</div>
            </td>
            <td>
                @Html.ActionLink(
                    "Delete",
                    "Index",
                    null,
                    new
                        {
                            onclick = String.Format("return deleleNews('{0}', {1}, '{2}');",
                                string.Format("Are you sure you wish to delete {0} news?", item.Title), item.NewsID,
                                String.Format("/News/Index?category={0}&searchString={1}&searchBy={2}&sortBy={3}&ascending={4}", 
                                    Model.CurrentCategory.HasValue ? Model.CurrentCategory.Value.ToString(CultureInfo.InvariantCulture) : "",
                                    Model.SearchString,
                                    Model.SearchBy, Model.SortBy, Model.SortAscending))
                        })
            </td>
        </tr>
    }
</table>

<div class="pager ">
    @Html.Partial("_Pager", Model)
</div>
      