@using NewsManager.WebUI.Models

@model CategoriesNewListModel
@{
    ViewBag.Title = "List of Categories";
}

<script>
    function deleleCategory(message, id) {

        var serviceUrl = '/Categories/Delete?id=' + id;
        if (confirm(message)) {
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //error : errorFunc
            });
//
//            function errorFunc(status, errorMessage) {
//                console.log(status);
//                alert(status + " " + errorMessage);
//            }
        }

        return true;
    }
</script>

<table>
    <tr>
        <p>@Html.ActionLink("Add a new Categories", "Create")</p>
    </tr>

    <tr>

        <th>
            Categories
        </th>
        <th colspan="3">
            Actions
        </th>
    </tr>

    @foreach (CategoryNewsModel item in Model.Entities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CategoryNewsID})
            </td>
            <td>
                @Html.ActionLink(
                    "Delete",
                    "List",
                    null,
                    new
                    {
                        onclick = String.Format("return deleleCategory('{0}', {1});",
                            string.Format("Are you sure you wish to delete {0} category?", item.Name), item.CategoryNewsID)
                    })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index", "News")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






