@using NewsManager.WebUI.Models

@model CategoriesNewListModel
@{
    ViewBag.Title = "LIST OF CATEGORY";
    this.Layout = "../Shared/_LayoutCategory.cshtml";
}

<script>
    function deleleCategory(message, id) {

        var serviceUrl = '/Categories/Delete?id=' + id;
        if (confirm(message)) {
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //error : errorFunc
            });
//
//            function errorFunc(status, errorMessage) {
//                console.log(status);
//                alert(status + " " + errorMessage);
//            }
        }

        return true;
    }
</script>

<table>
    <tr>
        <p>@Html.ActionLink("Add a new Categories", "Create")</p>
    </tr>

    <tr bgcolor ="#cccccc">

        <th>
            @Html.ActionLink("Category", "List", new { sortOrder = ViewBag.CategoryParm}) 
        </th>
        <th colspan="2">
            Actions
        </th>
    </tr>

    @foreach (CategoryNewsModel item in Model.Entities)
    {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CategoryNewsID})
            </td>
            <td>
                @Html.ActionLink(
                    "Delete",
                    "List",
        new {
            page = Model.PagingInfo.CurrentPage
        }
                    ,
                    new
                    {
                        onclick = String.Format("return deleleCategory('{0}', {1});",
                            string.Format("Are you sure you wish to delete {0} category?", item.Name), item.CategoryNewsID)
                    })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to News", "Index", "News")
</div>

<div class="pager ">
    @Html.PageLinks(Model.PagingInfo, x =>
    {
        if (Model.SortOrder == null && Model.PagingInfo == null)
            return Url.Action("List", new
            {
                page = x
            });
        return
            Url.Action("List", new
            {
                page = x,
                category = Model.SortOrder
                
            });
    }
        )
</div>
      






