@using NewsManager.WebUI.Models

@model CategoriesNewListModel
@{
    ViewBag.Title = "LIST OF CATEGORY";
    Layout = "../Shared/_LayoutCategory.cshtml";
}

<script>
    function deleleCategory(message, id, url) {

        var serviceUrl = '/Categories/Delete?id=' + id;
        if (confirm(message) == true) {
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
        }

        function successFunc(data) {
            if (data) {
                if (data.deleted) {
                    window.location = url;
                    return;
                }
                if (confirm('This category has news. Do you want to delete it with news?')) {
                    var actionUrl = '/Categories/DeleteWithNews?id=' + id;
                    $.ajax({
                        type: "POST",
                        url: actionUrl,
                        data: param = "",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(data) {
                            if (data.deleted) {
                                window.location = url;
                                console.log('Refresh page to ' + url);
                            }
                        }
                    });

                }
            }
        }

        return false;
    }
</script>

<table class="tablecategories">
    <tr>
        <p>@Html.ActionLink("Create a new Categories", "Create")</p>
    </tr>

    <tr bgcolor ="#cccccc">

        <th>
            @Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Name" }, { "DisplayName", "Name" } })
        </th>
        <th colspan="2">
            Actions
        </th>
    </tr>

    @foreach (CategoryNewsModel item in Model.Entities)
    {
        <tr >
            <td>
                <div class="hidden">@Html.DisplayFor(modelItem => item.Name)</div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CategoryNewsID})
            </td>
            <td>
                @Html.ActionLink(
                    "Delete",
                    "List",
                    null,
                    new
                    {
                        onclick = String.Format("return deleleCategory('{0}', {1}, '{2}');",
                            string.Format("Are you sure you wish to delete {0} category?", item.Name), item.CategoryNewsID,
                            String.Format("/Categories/List?page={0}", Model.CurrentPageIndex))
                    })
            </td>
        </tr>
    }
</table>
<div>
    <input type="button" value="RETURN" onclick="document.location.href = '/'">
</div>

<div class="pager ">
    @Html.Partial("_Pager", Model)
</div>